/* Welcome.css — Landing Page */
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.welcome-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.welcome-container .highlight {
  color: var(--primary-color);
}

.enter-button {
  text-decoration: none;
  margin-top: 20px;
}

