.chart-panel {
  background-color: var(--bg-card);
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 900px;
  border: 1px solid var(--primary-color);
}

.chart-panel .chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.chart-panel input {
  padding: 5px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-light);
}

