{% extends 'layout.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/chart-panel.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/stock-card.css') }}">
{% endblock %}

{% block content %}
{% include 'components/chart-panel.html' %}
<section id="stock-summary">
  <div id="cards-container"></div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

